.keyboard {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.key {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.key.wide {
    width: 64px;
}

.key.black {
  border: none;
  background-color: #424242;
  color: #ffffff;
}
 
.key.yellow {
  border: none;
  background-color: #fbc02d;
  color: #ffffff;
}
 
.key.green {
  border: none;
  background-color: #388e3c;
  color: #ffffff;
}